body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #FFD700, #000000);
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

.search-container {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.music-card {
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

.music-card p {
    margin: 0;
}

.music-card button {
    margin-top: 10px;
}

.audio-container {
    margin-top: 20px;
}
